html{
    scroll-behavior: smooth;
}

body{
    margin: 10px 10px;
}

#img-ba{
   width: 100%;
   max-height: 45vh;
   
}
.logo{
    width: 3rem;
    height: auto;
}
.test{
    width: 300px;
    height: 200px;
    
}

.icon{
 
    padding-left: 8rem;

}

.card{
   
    &:hover{
        transform: scale(1.1);
    }
}